/* shared/global values begin */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer, .section-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-one, .section-two {
    height: 500px;
}

.section-three, .section-four {
    height: 400px;
}

/* shared/global values end */


/* header begin */

.header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: sticky;
    top:0;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #F9FAF8;
}

.header-logo, .header-links {
    display: flex;
}

.header-links {
    gap: 30px;
}

/* header end */

/* section one begin */

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.one-left {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one-right {
    height: 300px;
    width: 600px;
    display: flex;
    background-color: rgba(169, 169, 169, 0.596);
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.one-header {
    font-size: 48px;
    font-weight: 900;
}

.one-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.button {
    height: 35px;
    width: 100px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    font-weight: 900;
}

.button:hover {
    background-color: #2b60b4;
    cursor: pointer;
}

/* section one end */

/* section two begin */

.two-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 40px;
}

.two-img-text {
    color: #1F2937;
}

.two-img, .two-img-text {
    width: 150px;
    height: 150px;
    text-align: center;
}

.two-img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 5px;
}

.two-content {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* section two end */

/* section three begin */

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-content {
    width: 750px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.attribution {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
}

/* section three end */

/* section four begin */

.section-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four-content {
    height: 150px;
    width: 1000px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.four-text {
    width: 600px;
}

.call-main {
    font-weight: bold;
    font-size: 20px;
}

.call-sub {
    color: #F9FAF8;
}

.section-four .button {
    border: 2px solid white;
}

/* section four end */

/* footer begin */

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer end */

