*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer, .section-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-one, .section-two, .section-three, .section-four{
    height: 500px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #F9FAF8;
}

.button, .section-four {
    background-color: #3882F6;
    color: #F9FAF8;
}

.button {
    height: 35px;
    width: 100px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    font-weight: 900;
}

.button:hover {
    background-color: #2b60b4;
    cursor: pointer;
}

.one-header {
    font-size: 48px;
    font-weight: 900;
}

.one-text, .header-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.two-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 40px;
}

.two-img-text {
    color: #1F2937;
}

.section-three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.attribution {
    font-weight: bold;
    font-size: 18px;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: sticky;
    top:0;
}

.header-logo, .header-links {
    display: flex;
}

.header-links {
    gap: 30px;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.one-image {
    height: 300px;
    width: 600px;
    display: flex;
    background-color: rgba(169, 169, 169, 0.596);
    justify-content: center;
    align-items: center;
}

.one-left {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two-img, .two-img-text {
    width: 150px;
    height: 150px;
    text-align: center;
}

.two-img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 5px;
}

.two-content {
    height: 500px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}